# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Build outputs
dist/
build/
.next/
out/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Flutter
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/*.iml

# Misc
*.pem
.vercel
